extends layout
block content
    h1 #{title} 
    ul.list-group  
        each pro ,i in result
            li.list-group-item
                a(href='/products/'+pro._id)=pro.name
    
                
            