doctype html
html
    head
        title KOK
    body
        h1 #{title} 
        ul  
            each pro ,i in result
                li=pro.name+' ฿'+pro.prices
                
            
                
            